{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
  <div class="container-fluid">
      <div class="row mt-5">
          <div class="col-md-10" id="component-table"></div>
          <div class="col-md-2" id="component-text">

          </div>

      </div>
  </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hello') }}
    {{ encore_entry_script_tags('table') }}
{% endblock %}

