{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}
  <div class="container-fluid">
      <div class="row mt-5">
          <div class="col-6">
              <h2>Test 1</h2>
          </div>
          <div class="col-6">
              <button
                      type="button"
                      class="btn btn-lg btn-danger"
                      data-toggle="popover"
                      title="Popover title"
                      data-content="And here's some amazing content. It's very engaging. Right?"
              >
                  Click to toggle popover
              </button>
          </div>
      </div>
  </div>
{% endblock %}
